In [2]:
import os
import json
import pandas as pd

In [5]:
repeatsdb_unique_df = pd.read_csv("../data/repeatsdb_unique_updated.csv", dtype={'ct': str})
repeatsdb_unique_df

,region_id,uniprot,ctfc,units,units_num,units_avg,insertions,insertions_num,pdb,ct
0,4zb5A_11_311,P24300,4.5.0.0,"11_49,50_87,88_132,133_176,177_211,212_244,245...",8,36.62,NaN,0,4zb5A,4.5
1,5zbgA_24_171,Q13507,3.3.0,"24_53,54_87,88_116,117_171",4,36.00,121_149,1,5zbgA,3.3
2,2zb5A_215_606,P08362,4.4.0.0,"215_285,286_345,346_441,442_482,509_561,562_606",6,60.00,"372_408,483_508",2,2zb5A,4.4
3,4zb4A_188_502,P32523,4.4.0.0,"188_247,248_287,288_334,335_376,377_423,424_47...",7,44.00,NaN,0,4zb4A,4.4
4,2zb1A_8_108,Q16539,4.2.0,"8_23,24_47,88_108",3,19.33,48_87,1,2zb1A,4.2
...,...,...,...,...,...,...,...,...,...,...
2468,3ctlA_2_218,P32719,4.1.1.3,"2_27,28_59,60_81,82_107,108_129,130_167,168_18...",8,26.12,NaN,0,3ctlA,4.1
2469,5ctrA_307_586,Q15020,3.3.0.0,"307_341,342_376,377_411,412_469,470_506,507_53...",7,39.00,NaN,0,5ctrA,3.3
2470,5ltpA_6_215,A0A1S4NYF2,4.2.0,"6_31,32_94,95_127,148_179,190_215",5,35.00,"45_82,128_147,180_189",3,5ltpA,4.2
2471,5ltdA_33_524,Q5QA94,4.4.1,"33_72,73_120,121_159,160_224,225_269,270_452,4...",7,69.29,462_489,1,5ltdA,4.4
2472,5ltqA_6_216,B1PNC0,4.2.0,"6_33,34_96,97_127,150_190,191_216",5,36.80,"49_80,128_149,182_187",3,5ltqA,4.2

In [13]:
structure_db = "/home/soroushm/Documents/new_predictor_workframe/structure_files"
not_in_db = []

for region_id in repeatsdb_unique_df["region_id"]:
    tmax_dir = os.path.join(structure_db, "tmax", region_id[1:3])
    chain_dir = os.path.join(structure_db, "chain", region_id[1:3])
    if os.path.exists(tmax_dir) and os.path.exists(chain_dir):
        if f"{region_id}_tmax.pdb" not in os.listdir(tmax_dir) or f"{region_id[:5]}.pdb" not in os.listdir(chain_dir):
            not_in_db.append(region_id)
    else:
        not_in_db.append(region_id)

In [14]:
len(not_in_db)

17

In [17]:
repeatsdb_unique_df = repeatsdb_unique_df[~repeatsdb_unique_df["region_id"].isin(not_in_db)]
repeatsdb_unique_df

,region_id,uniprot,ctfc,units,units_num,units_avg,insertions,insertions_num,pdb,ct
0,4zb5A_11_311,P24300,4.5.0.0,"11_49,50_87,88_132,133_176,177_211,212_244,245...",8,36.62,NaN,0,4zb5A,4.5
1,5zbgA_24_171,Q13507,3.3.0,"24_53,54_87,88_116,117_171",4,36.00,121_149,1,5zbgA,3.3
2,2zb5A_215_606,P08362,4.4.0.0,"215_285,286_345,346_441,442_482,509_561,562_606",6,60.00,"372_408,483_508",2,2zb5A,4.4
3,4zb4A_188_502,P32523,4.4.0.0,"188_247,248_287,288_334,335_376,377_423,424_47...",7,44.00,NaN,0,4zb4A,4.4
4,2zb1A_8_108,Q16539,4.2.0,"8_23,24_47,88_108",3,19.33,48_87,1,2zb1A,4.2
...,...,...,...,...,...,...,...,...,...,...
2468,3ctlA_2_218,P32719,4.1.1.3,"2_27,28_59,60_81,82_107,108_129,130_167,168_18...",8,26.12,NaN,0,3ctlA,4.1
2469,5ctrA_307_586,Q15020,3.3.0.0,"307_341,342_376,377_411,412_469,470_506,507_53...",7,39.00,NaN,0,5ctrA,3.3
2470,5ltpA_6_215,A0A1S4NYF2,4.2.0,"6_31,32_94,95_127,148_179,190_215",5,35.00,"45_82,128_147,180_189",3,5ltpA,4.2
2471,5ltdA_33_524,Q5QA94,4.4.1,"33_72,73_120,121_159,160_224,225_269,270_452,4...",7,69.29,462_489,1,5ltdA,4.4
2472,5ltqA_6_216,B1PNC0,4.2.0,"6_33,34_96,97_127,150_190,191_216",5,36.80,"49_80,128_149,182_187",3,5ltqA,4.2

In [19]:
out_dir = "/home/soroushm/Documents/ML-TRP-Parser_workframe/json_files/graph_tmscore_jsons"
for region_id in repeatsdb_unique_df["region_id"]:
    json_dict = {"query": region_id, "target": region_id}
    out_subdir = os.path.join(out_dir, region_id[1:3])
    os.makedirs(out_subdir, exist_ok=True)
    out_path = os.path.join(out_subdir, f"{region_id}.json")
    with open(out_path, "w") as fp:
        json.dump(json_dict, fp)